.headerNav {
    display : flex;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.popupContent {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    position: relative;
}

.autocomplete {
    position: relative;
 }

.autocompleteItems {
    position: absolute;
    border: 1px solid #d4d4d4;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
}

.autocompleteItems div {
    padding: 10px;
    cursor: pointer;
}

.autocompleteItems div:hover {
    background-color: #e9e9e9;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}